<h1>About Shine Get</h1>

<p>Shine Get is a wish list aggregator - it allows you to make your own wish list
  or to load wish lists you have created elsewhere on the internet.</p>
<p>Each item you have in your wish list will be monitored for price changes so you can
  come back and see which of your desired items are currently on sale or at a lower price!</p>

<p>There's more info to follow, but for now why not check out the
  <a href="https://github.com/ajwillia-ms/shineget" target="_blank">project page</a>.</p>

<h2>Supported Sites</h2>

<p>Items can be added directly from these sites:
<ul>
  <li><a href="http://argos.co.uk" target="_blank">argos.co.uk</a></li>
  <li><a href="http://amazon.co.uk" target="_blank">amazon.co.uk</a></li>
  <li><a href="http://firebox.com" target="_blank">firebox.com</a></li>
  <li><a href="http://johnlewis.com" target="_blank">johnlewis.com</a></li>
  <li><a href="http://play.com" target="_blank">play.com</a></li>
  <li><a href="http://shop.lego.com" target="_blank">LEGO.com</a></li>
  <li><a href="http://toysrus.co.uk" target="_blank">toysrus.co.uk</a></li>
</ul></p>

<p>Wish lists can be imported from any of the following:<ul>
  <li><a href="http://amazon.co.uk" target="_blank">amazon.co.uk</a></li>
</ul></p>

<h2>Supported Regions</h2>

<p>Shine Get currently only supports the UK and the British Pound Stirling (£).<br />
We hope to add other countries and currencies soon.</p>
