<div class="center hero-unit">
  <h1><span class="hiddenonmobile">Welcome to</span> <img src="/images/coin-small.png" style="margin-top:-8px;"/> Shine Get</h1>

  <% if signed_in? %>
  <p>
    Add a new item to your wishlist by entering the URL below.
  </p>

  <% @current_user.lists.each do |list| %>
    <% if list.url.blank? %>
       <% @list_id = list.id %>
    <% end %>
  <% end %>
  <form action="/lists/<%= @list_id %>/items/findfromurl">
    <div class="input-append quick-form">
      <input class="span2" id="appendedInputButton" type="text" name="url" />
      <input type="submit" class="btn btn-primary" type="button" value="Add Item" />
    </div>
  </form>
  <% else %>
  <p>
    Shine get is a universal wish list to keep track of all your shopping desires
    and let you know when you should buy them.
  </p>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
  <% end %>
</div>

