<div class="center hero-unit">
  <h1>Welcome to Shine Get</h1>

  <h2>
    This is the home page for my shine get app.
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
</div>

