<li>
  <span class="url"><a href="<%= item.url %>" target="_blank"><%= item.url %></a></span>
  <span class="price">(£<%= item.price %>)</span>
  <br />
  <span class="notes"><%= item.notes %></span>
</li>
