// First import bootswatch journal variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body {
  padding-top: 60px;
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
@import "custom";

// styling for items used in many pages

/* item lists */
ul.items {
  width: 100%;
  margin: 0;
  padding: 0;
}

.item-row {
  margin: 0;
  padding: 10px 0;
  display: block;
  float: left;
  width: 50%;
  list-style: none;
  border-top: 1px solid #45ade9;
  position: relative;
}

.after-items {
  clear: both;
  border-bottom: 1px solid #45ade9;
  margin-bottom: 10px;
}

.item-row .url {
  font-weight: bold;
  font-size: 125%;
}

.item-row .notes {
  display: block;
}

.item-row .thumbnail {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;

  display: block;
  overflow: hidden;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px;
}

.item-row .actions {
  position: absolute;
  right: 0;
  margin-top: 88px;
  margin-right: 10px;
}

.item-row .buygroup {
  float: left;
  position: absolute;
  margin-top: 84px;
}

.item-row .buygroup .price {
  padding-top: 2px;
}
