<footer class="footer">
  <small>
    <a href="http://shineget.me">shineget.me</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", 'https://github.com/ajwillia-ms', :target => "_blank" %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
